h1 {
    color: var(--secondary300);
    line-height: 100%;
    font-size: 60px;
    letter-spacing: -0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 48px;
    }
}