button,
fieldset,
input {
    all: unset;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.SectionContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    color: var(--secondary100);
    font-size: 20px;
    letter-spacing: -0.5px;
    margin: 0 0 0 0;
}

.Fieldset {
    margin-bottom: 15px;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-width: 0;
}

.Label {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--secondary100);
    display: block;
    font-weight: 600;
}

.Input {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1;
    background-color: var(--primary700);
    color: var(--primary300);
    box-shadow: 0 0 0 1px var(--primary600);
    height: 35px;
}
.Input:focus {
    box-shadow: 0 0 0 2px var(--brightBlue);
}

.Button {
    padding: 12px 20px 12px 20px;
    background-color: var(--primary300);
    color: var(--brightBlue);
    text-align: center;
    border-radius: 8px;
}

.Button:hover {
    background-color: var(--primary400);
    transition: background-color 0.2s ease;
}