button {
    all: unset;
}

.Trigger {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 1;
    height: 36px;
    gap: 5px;
    letter-spacing: -0.5px;
    font-weight: 600;
    background-color: var(--primary500);
    color: var(--secondary100);
}
.Trigger:hover {
    background-color: var(--primary600);
}
.Trigger:focus {
    box-shadow: 0 0 0 2px var(--brightBlue);
}
.Trigger[data-placeholder] {
    
}

.Icon {
    color: var(--secondary100);
}

.Content {
    overflow: hidden;
    background-color: var(--primary700);
    border-radius: 8px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.Viewport {
    padding: 4px;
}

.Item {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1;
    color: var(--secondary100);
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 4px 12px 4px 12px;
    position: relative;
    user-: none;
}
.Item[data-disabled] {
    color: white;
    pointer-events: none;
}
.Item[data-highlighted] {
    outline: none;
    background-color: var(--primary600);
}

.ItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: violet;
    cursor: default;
}