.Label {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--secondary100);
    display: block;
    font-weight: 600;
}

.Input {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1;
    background-color: var(--primary700);
    color: var(--primary300);
    box-shadow: 0 0 0 1px var(--primary600);
    height: 35px;
}
.Input:focus {
    box-shadow: 0 0 0 2px var(--brightBlue);
}

.Error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}